---
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import BackgroundText from "../ui/BackgroundText.astro";
import BackButton from "../ui/BackButton.astro";
import BuyButton from "../ui/BuyButton.astro";
import ProductPriceFromApi from "../content/ProductPriceFromApi.astro";
import { Image } from "astro:assets";
import imageSneakers from "/src/assets/img/hero-slider/single-empire.png";

const { backgroundImage, sku } = Astro.props;
---

<Section backgroundImage={backgroundImage}>
	<BackgroundText>Primego</BackgroundText>
	<div class="hero">
		<BackButton href="./../" />
		<StarTrekText as="h1" class="page-title">ИМПЕРИУМ</StarTrekText>
		<div>
			<p class="lead">Герб Российской Империи</p>
			<p>
				Непревзойденные качества и&nbsp;технологии, исключительный
				комфорт, ультрасовременный стиль непобедимой Российской Империи
			</p>
			<p class="display-mobile-none price">
				<span class="h3">
					<ProductPriceFromApi sku={sku} />
				</span>
			</p>
			<Image
				src={imageSneakers}
				alt=""
				role="presentation"
				class="hero__image"
				loading="lazy"
			/>
			<BuyButton
				sku={sku}
				color="var(--color-product-empire)"
				img={imageSneakers.src}
			/>
		</div>
	</div>
</Section>
<style lang="scss">
	.page-title {
		margin-bottom: var(--90px);
		font-size: var(--heading-1);
	}
	.hero {
		max-width: calc(var(--1px) * 720);
		margin-bottom: calc(var(--1px) * 150);
	}
	.hero__image {
		bottom: calc(var(--1px) * 270);
		position: absolute;
		width: calc(var(--1px) * 785);
		left: 50%;
	}
	.price {
		color: var(--text-color);
		margin-bottom: var(--45px);
	}

	@media screen and (max-width: 1023px) {
		.hero {
			text-align: center;
			margin-bottom: calc(var(--1px) * 60);
		}
		.page-title {
			font-size: calc(var(--1px) * 128);
			margin-top: calc(var(--1px) * 36);
			margin-bottom: var(--30px);
		}
		.hero__image {
			position: static;
			margin-bottom: calc(var(--1px) * 30);
			width: 90%;
		}
	}
</style>
