---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imageScheme1 from '../../assets/img/innovations/scheme-1.png';
import imageScheme2 from '../../assets/img/innovations/scheme-2.png';
import imageScheme3 from '../../assets/img/innovations/scheme-3.png';
import imageScheme4 from '../../assets/img/innovations/scheme-4.png';
import imageAI from '../../assets/img/innovations/AI-pic.png';

const { backgroundImage } = Astro.props;

---
<Section backgroundImage={backgroundImage} class="section">
	<ul class="list">
		<li class="list-item">
			<span class="list-item__title">Антибактериальные</span>
			<Image
				width="180"
				height="180"
				src={imageScheme1}
				alt=""
				loading="lazy"
			/>
		</li>
		<li class="list-item">
			<span class="list-item__title">Мягкие</span>
			<Image
				width="180"
				height="180"
				src={imageScheme2}
				alt=""
				loading="lazy"
			/>
		</li>
		<li class="list-item">
			<span class="list-item__title">Воздухопроницаемые</span>
			<Image
				width="180"
				height="180"
				src={imageScheme3}
				alt=""
				loading="lazy"
			/>
		</li>
		<li class="list-item">
			<span class="list-item__title">Упругие</span>
			<Image
				width="180"
				height="180"
				src={imageScheme4}
				alt=""
				loading="lazy"
			/>
		</li>
	</ul>
	<header>
		<StarTrekText as="h2" class="h1 title">Инновационные</StarTrekText>
	</header>
	<blockquote class="blockquote">
		<p>Искусственный интеллект в&nbsp;процессе разработки <br>и&nbsp;производства позволяет создавать уникальные <br>и&nbsp;передовые решения</p>
		<p>Инновационные технологий для&nbsp;кроссовок нового поколения,<br> обеспечивающих высокий уровень комфорта и&nbsp;функциональности</p>
		<p>Кроссовки, которые задают<br> новые стандарты.<br> Твои стандарты</p>
	</blockquote>

	<Image
		width="704"
		height="430"
		src={imageAI}
		alt=""
		loading="lazy"
		class="bg-img"
	/>
</Section>

<style lang="scss">
	.section {
		padding: var(--size-90) 0 var(--size-15);
	}
	.title {
		text-align: right;
		margin-top: var(--size-60);
	}
	.blockquote {
		margin-left: 50%;
	}
	.bg-img {
		position: absolute;
		bottom: var(--size-15);
		right: 63%;
		width: auto;
		height: calc(var(--adaptive-pixel) * 430);
		max-height: 100%;
		z-index: -1;
	}
	.list {
		display: flex;
		gap: var(--size-30);
		margin: var(--size-200) 0 0;
		padding: 0;
		justify-content: space-between;
	}
	.list-item {
		padding: 0;
		margin: 0;
		text-align: center;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
    	flex-basis: 0;
	}
	.list-item__title {
		margin-bottom: var(--size-30);
		color: var(--color-product);
		font-size: calc(var(--adaptive-pixel) * 24);
		font-weight: 500;
	}
	.list-item img {
		width: calc(var(--adaptive-pixel) * 180);
		height: calc(var(--adaptive-pixel) * 180);
	}
	@media screen and (width < 1024px) {
		.section {
			padding: var(--size-30) 0;
		}
		.title {
			margin-top: var(--size-60);
			text-align: center;
		}
		.list {
			flex-direction: column;
			gap: var(--size-30);
			margin-top: var(--size-30);
		}
		.list-item__title {
			font-size: var(--text-font-size);
			font-weight: 600;
			margin-bottom: var(--size-15);
		}
		.list-item img {
			height: calc(var(--adaptive-pixel)* 120);
			width: calc(var(--adaptive-pixel)* 120);
		}
		.blockquote {
			margin-left: 0;
		}
		.bg-img {
			position: static;
			width: auto;
			height: auto;
		}
		.scheme {
			float: none;
			margin: var(--size-30) 0;
			max-width: var(--size-120);
			margin: 0 auto;
		}
	}
</style>