---
import { Image } from 'astro:assets';
import Section from "../ui/Section.astro";
import StarTrekText from "../ui/StarTrekText.astro";
import imagePhone from '../../assets/img/app/Phone.png';
import imageScheme from '../../assets/img/app/Scheme.svg?raw';
import imageSchemeFFFFFF from '../../assets/img/app/Scheme_FFFFFF.svg?raw';

const { backgroundImage, invert = false } = Astro.props;
---
<Section backgroundImage={backgroundImage} invert={invert}>
	<header>
		<StarTrekText as="h2" class="h1 title">
			Приложение-<br/>
			сканер
		</StarTrekText>
	</header>
	<blockquote class="blockquote">
		<p>Учет индивидуальной формы стопы, улучшает посадку обуви, дарит комфорт</p>
		<p>Алгоритмы искусственного интеллекта, виртуальное моделирование формы стопы</p>
		<p>Компьютерные технологии для идеального результата</p>
	</blockquote>
	<Image
		width="917"
		height="1240"
		src={imagePhone}
		alt=""
		loading="lazy"
		class="bg-img"
	/>
	<div style="color: var(--color-product)" class="scheme">
		{invert 
			? <Fragment set:html={imageSchemeFFFFFF} /> 
			: <Fragment set:html={imageScheme} />
		}
	</div>
</Section>

<style lang="scss">
	.section {
		padding: calc(var(--adaptive-pixel) * 65) 0 calc(var(--adaptive-pixel) * 40);
	}
	.layout {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.title {
		text-align: right;
		margin-top: 0;
	}
	.blockquote {
		max-width: calc(var(--adaptive-pixel) * 490);
		margin-left: auto;
	}
	.bg-img {
		position: absolute;
		top: calc(var(--adaptive-pixel) * 30);
		left: 0;
		width: auto;
		height: calc(var(--adaptive-pixel) * 1100);
		max-height: 100%;
		z-index: -1;
	}
	.scheme {
		width: calc(var(--adaptive-pixel) * 725);
		margin-left: auto;
	}
</style>