---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import HeroSlider from "../components/HeroSlider.astro";
import StarTrekText from "../components/StarTrekText.astro";
import Button from "../components/Button.astro";

import Customizator from "../components/Customizator.vue";

import { Image } from "astro:assets";
import myImportedImage from "../assets/img/customised_pattern.png";
import backgroundHero from "../assets/img/section-bg/hero.webp";
import backgroundNano from "../assets/img/section-bg/nano.webp";
import backgroundConvection from "../assets/img/section-bg/convection.webp";
import backgroundForm from "../assets/img/section-bg/form.webp";
import backgroundCustom from "../assets/img/section-bg/custom.webp";
import backgroundInnovation from "../assets/img/section-bg/innovation.webp";
import backgroundMadeIn from "../assets/img/section-bg/made-in.webp";
import backgroundCustomizer from "../assets/img/section-bg/customizer.webp";
---

<Layout>
	<Header />
	<main>
		<!-- Hero -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundHero.src})` }}
		>
			<div class="hero">
				<StarTrekText
					as="span"
					class="text-on-background"
					aria-hidden="true"
				>
					Primego
				</StarTrekText>
				<StarTrekText as="h1">Primego</StarTrekText>
				<div>
					<p class="lead">Ipsum consectetur</p>
					<p>
						Lorem ipsum dolor sit amet consectetur. Viverra quis eu
						turpis faucibus nec id.
					</p>
					<Button as="a" href="#customizer">Make Your Model</Button>
				</div>
			</div>
			<div class="heroSlider-wrapper">
				<HeroSlider />
			</div>

			<style lang="scss">
				.text-on-background {
					font-size: min(53vw, var(--container-width-in-px) / 100 * 53);
					margin: 0;
					position: absolute;
					top: var(--size-5);
					left: 0;
					width: 100%;
					height: 100vh;
					overflow: hidden;
					display: flex;
					justify-content: center;
					opacity: 0.15;
					z-index: -1;
					user-select: none;
				}
				.hero {
					padding-left: calc(var(--adaptive-pixel) * 200);
					width: 50%;
				}
				.heroSlider-wrapper {
					display: flex;
					justify-content: flex-end;
					margin: calc(var(--adaptive-pixel) * 460 * -1) 0 0;
				}
				@media screen and (width < 1024px) {
					.text-on-background {
						font-size: 53vw;
					}
				}
			</style>
		</Section>
		<!-- НАНО ТЕКСТИЛЬ -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundNano.src})` }}
		>
			<header>
				<StarTrekText as="h1">
					НАНО <br />ТЕКСТИЛЬ
				</StarTrekText>
			</header>
			<blockquote>
				<p>
					Гидрофобная структура нити, не задерживает влагу,
					предотвращая развитие бактерий
				</p>
				<p>
					Из натуральных волокон, антибактериальные и гидрофобные
					свойства, идеально для кроссовок
				</p>
				<p>Технологичный и инновационный для спортивной обуви</p>
			</blockquote>
			<!-- <Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>
		<!-- Конвекция -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundConvection.src})` }}
		>
			<!-- <div style="display: flex; justify-content: space-between">
					<div class="">
						<div>
							<span class="h4">Обычная подкладка</span><br />
							воздух НЕ проходит
						</div>
						<Image
							width="208"
							height="208"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
					<div class="">
						<div>
							<span class="h4">Капиллярная мембрана</span><br />
							воздух циркулирует
						</div>
						<Image
							width="208"
							height="208"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
				</div> -->
			<header>
				<StarTrekText as="h1">Конвекция</StarTrekText>
			</header>
			<blockquote>
				<p>Капилярная конвекция для максимального комфорта</p>
				<p>
					Проницаемая трехмерная капиллярная мембрана, естественная
					терморегуляция
				</p>
				<p>
					Теплорегулирующая подкладка, обеспечивает вентиляцию,
					предотвращает перегрев
				</p>
			</blockquote>
			<!-- <Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>

		<!-- Форма стопы -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundForm.src})` }}
		>
			<header>
				<StarTrekText as="h1">Форма стопы</StarTrekText>
			</header>
			<blockquote>
				<p>
					Трехмерное термическое формование, учет индвидуальной формы
					стопы
				</p>
				<p>Подошва учитывает форму стопы, не деформирует ногу</p>
				<p>Адаптация подошвы к стопе для здоровых ног</p>
			</blockquote>

			<!-- <Image
					width="208"
					height="208"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/>
				<Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>
		<!-- Кастомизация -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundCustom.src})` }}
		>
			<header>
				<StarTrekText as="h1">Кастомизация</StarTrekText>
			</header>
			<blockquote>
				<p>
					Возможность создания уникальной пары кроссовок с
					индивидуальным цветовым решением и материалом
				</p>
				<p>
					Неповторимые кроссовоки, отражают личность владельца, легко
					адаптируется под стиль одежды
				</p>
				<p>
					Твои идеи для твоей индивидуальности через выбор цвета и
					материала обуви
				</p>
			</blockquote>

			<!-- <Image
					width="208"
					height="208"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/>
				<Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>
		<!-- Инновационные -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundInnovation.src})` }}
		>
			<!-- <div style="display: flex; justify-content: space-between">
					<div class="">
						<div>
							<span class="h4">Антибактериальные</span>
						</div>
						<Image
							width="180"
							height="180"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
					<div class="">
						<div>
							<span class="h4">Мягкие</span>
						</div>
						<Image
							width="180"
							height="180"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
					<div class="">
						<div>
							<span class="h4">Воздухопроницаемые</span>
						</div>
						<Image
							width="180"
							height="180"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
					<div class="">
						<div>
							<span class="h4">Упругие</span>
						</div>
						<Image
							width="180"
							height="180"
							src={myImportedImage}
							alt=""
							loading="lazy"
						/>
					</div>
				</div> -->
			<header>
				<StarTrekText as="h1">Инновационные</StarTrekText>
			</header>
			<blockquote>
				<p>
					Искусственный интеллект в процессе разработки и производства
					позволяет создавать уникальные и передовые решения
				</p>
				<p>
					Инновационные технологий для кроссовок нового поколения,
					обеспечивающих высокий уровень комфорта и функциональности
				</p>
				<p>Кроссовки, которые задают новые стандарты.Твои стандарты</p>
			</blockquote>

			<!-- <Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>
		<!-- Сделано в России -->
		<Section
			class="section"
			style={{ backgroundImage: `url(${backgroundMadeIn.src})` }}
		>
			<header>
				<StarTrekText as="h1">Сделано в России</StarTrekText>
			</header>
			<blockquote>
				<p>Произведено в России</p>
				<p>Разработано в России</p>
				<p>Из российских материалов и технологий</p>
			</blockquote>
			<!-- <Image
					width="1030"
					height="596"
					src={myImportedImage}
					alt=""
					loading="lazy"
				/> -->
		</Section>

		<Section
			class="section"
			id="customizer"
			style={{ backgroundImage: `url(${backgroundCustomizer.src})` }}
		>
			<Customizator client:load data-animate />
		</Section>
	</main>
	<Footer />
</Layout>

<style>
	.section {
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
		overflow: hidden;
		min-height: calc(var(--adaptive-pixel) * 1080);
	}
	p {
		text-wrap: balance;
	}
</style>

<script></script>
