---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

import Hero from "../components/content/Hero.astro";
import NanoTextiles from "../components/content/NanoTextiles.astro";
import Convection from "../components/content/Convection.astro";
import FootShape from "../components/content/FootShape.astro";
import MobileApp from "../components/content/MobileApp.astro";
import Customization from "../components/content/Customization.astro";
import Innovation from "../components/content/Innovation.astro";
import MadeInRussia from "../components/content/MadeInRussia.astro";
import LimitCollection from "../components/content/LimitCollection.astro";
// import Customizator from "../components/content/Customizator.astro";

import backgroundHero from "/src/assets/img/bg/FC1447/1.jpg";
import backgroundNano from "/src/assets/img/bg/FC1447/2.jpg";
import imageNano from '/src/assets/img/nano-textiles/FC1447.png';
import backgroundConvection from "/src/assets/img/bg/FC1447/3.jpg";
import imageConvection from '/src/assets/img/convection/sneaker_FC1447.svg';
import backgroundShape from "/src/assets/img/bg/FC1447/4.jpg";
import backgroundMobileApp from "/src/assets/img/bg/FC1447/5.jpg";
import backgroundCustom from "/src/assets/img/bg/FC1447/6.jpg";
import imageCustomSneaker from '/src/assets/img/customization/Sneaker-FC1447.png';
import backgroundInnovation from "/src/assets/img/bg/FC1447/7.jpg";
import backgroundMadeIn from "/src/assets/img/bg/FC1447/8.jpg";
// import backgroundCustomizer from "/src/assets/img/bg/FC1447/9.jpg";
import backgroundFooter from "/src/assets/img/bg/FC1447/10.jpg";
---

<style is:global>
	:root {
		--color-product: var(--color-product-primego);
		--color-product-hover: var(--color-product-primego-hover);
		--color-product-active: var(--color-product-primego-active);
		--button-text-color: var(--color-white);
	}
</style>

<Layout title="Primego">
	<Header isHome={true}/>
	<main>
		<Hero backgroundImage={backgroundHero}/>
		<LimitCollection />
		<NanoTextiles backgroundImage={backgroundNano} mainImage={imageNano}/>
		<Convection backgroundImage={backgroundConvection} mainImage={imageConvection}/>
		<FootShape backgroundImage={backgroundShape}/>
		<MobileApp backgroundImage={backgroundMobileApp}/>
		<Customization backgroundImage={backgroundCustom} mainImage={imageCustomSneaker}/>
		<Innovation backgroundImage={backgroundInnovation}/>
		<MadeInRussia backgroundImage={backgroundMadeIn}/>
		<!-- <Customizator backgroundImage={backgroundCustomizer}/> -->
	</main>
	<Footer backgroundImage={backgroundFooter}/>
</Layout>

<script></script>
