---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

import HeroSubPage from "../components/content/HeroSubPage.astro";
import Gallery from "../components/content/Gallery.astro";
import NanoTextiles from "../components/content/NanoTextiles.astro";
import Convection from "../components/content/Convection.astro";
import FootShape from "../components/content/FootShape.astro";
// import MobileApp from "../components/content/MobileApp.astro";
// import Customization from "../components/content/Customization.astro";
// import Innovation from "../components/content/Innovation.astro";
import Faq from "../components/content/Faq.astro";
import MadeInRussia from "../components/content/MadeInRussia.astro";

import backgroundHero from "/src/assets/img/bg/FFFFFF/1.jpg";
import backgroundHeroMobile from "/src/assets/img/bg/FFFFFF/1_mobile.jpg";
import imageSneakers from  "/src/assets/img/hero-slider/single-royal.png";
import backgroundNano from "/src/assets/img/bg/FFFFFF/2.jpg";
import imageNano from '/src/assets/img/nano-textiles/FFFFFF.png';
import backgroundConvection from "/src/assets/img/bg/FFFFFF/3.jpg";
import imageConvection from '/src/assets/img/convection/sneaker_FFFFFF.svg';
import backgroundShape from "/src/assets/img/bg/FFFFFF/4.jpg";
// import backgroundMobileApp from "/src/assets/img/bg/FFFFFF/5.jpg";
// import backgroundCustom from "/src/assets/img/bg/FFFFFF/6.jpg";
// import imageCustomSneaker from '/src/assets/img/customization/Sneaker-FFFFFF.png';
// import backgroundInnovation from "/src/assets/img/bg/FFFFFF/7.jpg";
import backgroundMadeIn from "/src/assets/img/bg/FFFFFF/8.jpg";
import backgroundFooter from "/src/assets/img/bg/FFFFFF/10.jpg";
import { productOptMap } from "../utils/product-list"

const productSKU = productOptMap.RL24.sku;
---

<style is:global>
	:root {
		--color-product: var(--color-product-royal);
		--color-product-hover: var(--color-product-royal-hover);
		--color-product-active: var(--color-product-royal-active);
		--button-text-color: var(--color-black);
		--text-lead: var(--color-gray);
	}
</style>

<Layout title="Primego | Рояль">
	<Header/>
	<main class="main">
		<HeroSubPage 
			backgroundImage={backgroundHero}
			backgroundImageMobile={backgroundHeroMobile}
			imageSneakers={imageSneakers}
			title="Рояль" 
			lead="Твой элегантный стиль"
			sku={productSKU} 
		/>
		<Gallery sku={productSKU} />
		<NanoTextiles backgroundImage={backgroundNano} mainImage={imageNano}/>
		<FootShape backgroundImage={backgroundShape}/>
		<Convection backgroundImage={backgroundConvection} mainImage={imageConvection}/>
		<!-- <MobileApp backgroundImage={backgroundMobileApp}/>
		<Customization backgroundImage={backgroundCustom} mainImage={imageCustomSneaker}/>
		<Innovation backgroundImage={backgroundInnovation}/> -->
		<Faq/>
		<MadeInRussia backgroundImage={backgroundMadeIn}/>
	</main>
	<Footer backgroundImage={backgroundFooter}/>
</Layout>

<script></script>

<style>
	@media screen and (max-width: 1023px) {
		.main {
			display: flex;
			flex-direction: column;
		}
	}
</style>
